<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vwuilbea.mymoviecatalog" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".operations.search.SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".MovieCatalog"
            android:label="@string/title_activity_movie_catalog" >

            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".operations.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".operations.details.DetailsResultsActivity"
            android:label="@string/title_activity_details_results" >
        </activity>
        <activity
            android:name=".operations.add.AddToDBActivity"
            android:label="@string/title_activity_add_to_db" >
        </activity>
        <activity
            android:name=".operations.details.series.SeasonsActivity"
            android:label="@string/title_activity_seasons"
            android:parentActivityName=".operations.details.DetailsResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vwuilbea.mymoviecatalog.operations.details.DetailsResultsActivity" />
        </activity>
    </application>

</manifest>
